.container-pedidos {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 10fr;
  background-color: var(--bg-soft-dark);
}

.conteudoGraficos {
  display: flex;
  justify-content: space-evenly;
}

.vendasDados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cardDados {
  background-color: var(--fundoDark);
  padding: 5px;
  border-radius: 8px;
  margin: 10px;
  max-height: 250px;
}

.TitlePedidos {
  color: var(--texto-principal);
  font-family: "Roboto", "Courier New", Courier, monospace;
}

.topPedidos{
  display: flex;
  justify-content: space-between;
}

.pesquisaPedidos{
  display: flex;
  background-color: var(--fundoDark);
  padding: 15px;
  border-radius: 10px;
}

.DadosPedidos{
  display: flex;
  width: 100%;
}

.TotalPedidos{
  width: 100%;
}

.pedidosShow{
  margin-top: 30px;
}
