.container-pedidos {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 10fr;
  background-color: var(--bg-soft-dark);
}

.conteudoGraficos {
  display: flex;
  justify-content: space-evenly;
}

.vendasDados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cardDados {
  background-color: var(--fundoDark);
  padding: 5px;
  border-radius: 8px;
  margin: 10px;
  max-height: 250px;
}

.TitlePedidos {
  color: var(--texto-principal);
  font-family: "Roboto", "Courier New", Courier, monospace;
}

.TotalPedidos h4, h3{
  color: var(--texto-principal);
  font-family: "Roboto", "Courier New", Courier, monospace;
  
}

.TotalPedidos{
  background-color: var(--fundoDark);
  width: max-content;
  display: inline-flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  
}

.topPedidos{
  display: flex;
  justify-content: space-between;
}

.pesquisaPedidos{
  display: flex;
  background-color: var(--fundoDark);
  padding: 15px;
  border-radius: 10px;
}

.GraficosPedidos{
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;
}