.dashboard-container{
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 10fr;
  background-color: var(--bg-soft-dark); 
}

.conteudoGraficos{
  display: flex;
  justify-content: space-evenly;
}

.vendasDadosDash{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cardDados{
  background-color: var(--fundoDark);
  padding: 5px;
  border-radius: 8px;
  margin: 10px;
}

.dadosGrafico{
  height: 200px;
  width: 100%;
}

.TitleGrafico{
  color: var(--texto-principal);
  font-family: 'Roboto', 'Courier New', Courier, monospace;
}

.tabelaPedido{
  margin-top: 100px;
  min-width: max-content;
  margin-left: 10px;
  margin-right: 10px;
}
