*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

:root{
  --logo : #49B173;
  --principal: #1A1A1F;
  --fundo: #24242A;
  --fundoDark: #1c1c20;
  --texto-principal: #D8DFFF;
  --texto-secundario: #A9AEC9CC;
  --menssagem-ok: #1DD5B8;
  --menssagem-alerta: #FFAF30;
  --menssagem-perigo: #FF4C4C;
  --bg-dark: #1A1A1F;
  --bg-soft-dark: #24242A;
  --text-primary: #D8DFFF;
  --text-secondary: #A9AEC9;
  --accent: #1DD5B8;
} 